Package: com.blan3bo1.iosytpresence
Name: iOS YouTube Presence
Version: 1.0.1
Architecture: iphoneos-arm
Description: Discord Rich Presence for YouTube iOS
Maintainer: blan3bo1
Author: blan3bo1
Section: Tweaks
Depends: mobilesubstrate, firmware (>= 13.0)
Conflicts: com.google.ios.youtube
